# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/
venvpay/
venvpay_local/
backend/venvpay/
backend/venvpay_local/
*/venv*/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large datasets
*.csv
*.xlsx
*.zip
*.rar

# Model files
*.h5
*.keras
*.pt
*.pth
*.pkl

# Secrets
*.pem
*.key